/*
	========================================
	JESSICA ONE PAGE RESUME THEME
	========================================
	
	@author			: @_TemplateNinja
	@version		: v1.3
	@date-create	: 09/04/2014
	@last-update	: 03/18/2015
	@file-name		: variables.less

*/
/*
	========================================
	TABLE OF CONTENT
	========================================
	
	[1. URL]
	[2. FONT]
	[3. COLOR]
	[4. MIXIN]

*/
/*
	============================
	[1. URL]
	*
	* ex : @{imgurl}/your-image-name.jpg
	*
	============================
    
*/
/*
	============================
	[2. FONT]
	============================
*/
/*
	============================
	[3. COLOR]
	============================
*/
/*
	============================
	[4. MIXIN]
	============================
*/