<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="mailing" type="System.Net.Configuration.SmtpSection" />
      <section name="smtpbase" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="versionforcache" value="1" />
    <add key="enableHttps" value="false" />
    <!--DATI COLLOQUIO CON GESTIONALE IMMOBILI-->
    <add key="percorsoapp" value="" />
    <add key="percorsocdn" value="" />
    <add key="usecdn" value="false" />
    <add key="percorsoimg" value="/public/files/resource/" />
    <add key="percorsoexp" value="/public/common/_export/" />
    <!-- DATI API per ordini Paypal Utente Sandbox -->
    <add key="userPaypal" value="pagamentitest_api1.webmouse.it" />
    <add key="pwdPaypal" value="FNKJNACGRE655994" />
    <add key="signaturePaypal" value="ALB.QSLhW3RnNnyQupdSav9MGVJLAP2BR9elqpr0iCmEWA3xN0-q0-l9" />
    <add key="sandboxPaypal" value="true" />
    <add key="authandcapturePaypal" value="true" />
    <add key="percAnticipoPagamento" value="100" />
    <add key="returlPaypal" value="http://testsite3.weapps.eu/aspnetpages/OrdineOk.aspx?tran=" />
    <add key="cancelurlPaypal" value="http://testsite3.weapps.eu/aspnetpages/OrdineOk.aspx?tran=" />
    <add key="costobaseSpedizioni" value="0" />
    <add key="supplementoSpedizioni" value="0" />
    <add key="sogliaSpedizioni" value="120" />
    <add key="PFUauto" value="2,80" />
    <add key="PFUmoto" value="1,50" />
    <!--Gestione Prezzi Acquisto-->
    <add key="prezzo1" value="30" />
    <add key="prezzo2" value="31" />
    <add key="prezzo3" value="32" />
    <add key="prezzo4" value="33" />
    <!-- Gestione codice di sconto -->
    <add key="codicesconto" value="pippo" />
    <add key="percentualesconto" value="8" />
    <!--Configurazione Prelievo contenuti da sorgente esterna-->
    <add key="Web_CodiceTipologiaSorgente" value="" />
    <add key="Web_CodiceDestinazioneComunicati" value="rif000061" />
    <add key="Web_CodiceDestinazioneRassegna" value="rif000060" />
    <add key="Web_Numerocontenuti" value="30" />
    <!-- Lingua di default  -->
    <add key="deflanguage" value="I" />
    <!-- Url rewriting parameters -->
    <add key="generaUrlrewrited" value="true" />
    <add key="updateTableurlrewriting" value="false" />
    <!-- Settings per uso editor html per newsletter  -->
    <add key="ImageRoot" value="~/public/UserContent/images/" />
    <add key="FilesRoot" value="~/public/UserContent/files/" />
    <!-- Locale -> utilizzo sul server locale per test - Remoto -> utilizzo per web server online -->
    <add key="Posizione" value="Remoto" />
    <add key="DataDir" value="/public" />
    <!-- Directory locale dei Log Files per il portale   
    <add key="PhyLogDir" value="d:\\Logs" />   -->
    <!-- Importante Usato per l'archiviazione in remoto e la gestione dei mail -->
    <add key="Nome" value="Albergo Ristorante Il Pozzetto" />
    <add key="Descrizione" value="Albergo Ristorante Il Pozzetto" />
    <add key="Email" value="info@webmouse.sm" />
    <!-- Bots Agents BLoccati -->
    <add key="bots" value="teleport;ripper;wget" />
    <!-- Codice sblocco trial -->
    <!--VERSIONE COMPLETA attivando il codice seguente-->
    <add key="trialkey" value="sd5hge4s!ye63!jnssjsjs99aqws553hhhd6ssnnd6wwkc.dee" />
    <!--VERSIONE TRIAL
    <add key="trialkey" value=""/>-->
  </appSettings>
  <mailSettings>
    <mailing deliveryMethod="Network">
      <network host="smtp.critsend.com" port="465" enableSsl="true" defaultCredentials="false" userName="smtpcrt2@to-be-web.it" password="gVVQpRqekFzo" />
      <!--<network host="smtp.weapps.eu" port="25" defaultCredentials="false" userName="chsender@weapps.eu" password="jd74jd82"/>-->
    </mailing>
    <smtpbase deliveryMethod="Network">
      <network host="smtp.weapps.eu" port="25" defaultCredentials="false" userName="chsender@weapps.eu" password="jd74jd82" />
    </smtpbase>
  </mailSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.weapps.eu" port="25" defaultCredentials="false" userName="chsender@weapps.eu" password="jd74jd82" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="dbdataaccess" connectionString="Data Source=|DataDirectory|dbData.db;Version=3;Pooling=True;Max Pool Size=100;" providerName="System.Data.SQLite" />
    <!--<add name="dbdataaccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|dbData.mdb" providerName="System.Data.OleDb"/>-->
    <add name="AccessFileName" connectionString="~/App_Data/ASPNetDB.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<trace enabled="true" localOnly="false" pageOutput="true" requestLimit="50" />-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="error.htm" />-->
    <customErrors mode="Off" />
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <membership defaultProvider="AccessMembershipProvider" userIsOnlineTimeWindow="5">
      <providers>
        <add name="AccessMembershipProvider" type="Samples.AccessProviders.AccessMembershipProvider" connectionStringName="AccessFileName" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" applicationName="/" hashAlgorithmType="SHA1" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AccessRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="AccessRoleProvider" type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="/" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="AccessProfileProvider">
      <providers>
        <add name="AccessProfileProvider" type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="/" description="Stores and retrieves profile data from an $safeprojectname$ database." />
      </providers>
      <properties>
        <add name="FirstName" type="System.String" />
        <add name="LastName" type="System.String" />
        <add name="EMail" type="System.String" />
        <add name="Cellulare" type="System.String" />
        <add name="IdCliente" type="System.String" />
        <add name="IdSocio" type="System.String" />
      </properties>
    </profile>
    <anonymousIdentification enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/login.aspx" timeout="238" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <!--<add verb="*" path="*.aspx" validate="true" type="WelcomeLibrary.UF.RewritingHandlerGeneric,WelcomeLibrary" />-->
    </httpHandlers>
    <httpModules>
      <!--<add type="GELibraryRemoto.UF.HttpModuleXml,GELibraryRemote" name="XmlModule"/>-->
    </httpModules>
    <httpRuntime maxRequestLength="15000" executionTimeout="3600" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls />
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <add type="WelcomeLibrary.UF.CachingModule, WelcomeLibrary" name="CachingModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".air" />
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <!--<handlers accessPolicy="Read, Script">
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <add name="HandlerAspxFiles" verb="*"
      path="*.aspx"
      type="WelcomeLibrary.UF.RewritingHandlerGeneric,WelcomeLibrary"
      resourceType="Unspecified" />
    </handlers>-->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" />-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>