/*----------------------------------
IMPORTAZ. STILI COMBINAZIONI COLORI
----------------------------------*/
/*----------------------------------
/////////| COLORI BLOCCHI |/////////
----------------------------------*/
/*logo - sfondo-pulsanti - fixed-top*/
/*#9e532b*/
/*verde whats-app::after 2cbda5*/
/*footer-link*/
/*#dac8a0;*/
/*footer-social e banner*/
/*#f5f0e5;*/
/*footer-bottom*/
/*#555;*/
/**/
/*sfondo modulo contatto*/
/**/
/*menu - titoli-principali*/
/*#232323;*/
/*sotto-titoli-principali - body*/
/*#555;*/
/* sistema di colori a triade */
/* sistema di colori tonali */
/* fascia catalogo */
/*----------------------------------
//////////////| MENU |//////////////
----------------------------------*/
/**/
/*----------------------------------
/////////////| BUTTON |/////////////
----------------------------------*/
/**/
/*----------------------------------
///////////| FONT PAGE |///////////
----------------------------------*/
/**/
/**/
/*@body-color: @secondary-color;*/
/**/
/*----------------------------------
//////////| FORM CONTATTI |/////////
----------------------------------*/
/*----------------------------------
/////////////| FOOTER |/////////////
----------------------------------*/
/**/
/**/
/*----------------------------------
///////////| COPYRIGHT |////////////
----------------------------------*/
/*----------------------------------
/////////////| BANNER |/////////////
----------------------------------*/
/**/
/*----------------------------------
//////| BANNER TESTATA HOME |///////
----------------------------------*/
/**/
/**/
/*@alternative-font;*/
/*----------------------------------
/////////| BANNER FASCIA |//////////
----------------------------------*/
/**/
/**/
/**/
/*----------------------------------
///////| BANNER NAVIGAZIONE |///////
----------------------------------*/
/**/
/*----------------------------------
/////////| BANNER SLIDER |//////////
----------------------------------*/
/**/
/**/
/*----------------------------------
///| BANNER news-letter e mail |////
----------------------------------*/
/*@import "custom-bicromo.less";*/
/*@import "custom-bicromo2.less";*/
/*@import "custom-colore-complementare.less";*/
/*----------------------------------
////////| IMPORTAZIONE FONT |/////// ATTENZIONE QUANDO SI COMBINANO GLI SCRIPT CSS L'IMPORT DEI FONT QUI NON FUNZIONA!!!!!!!!!! /////////// -> SPOSTATO IN MASTERPAGE
----------------------------------*/
/*----------------------------------
//////////////| FONT |//////////////
----------------------------------*/
/*titoli-principali*/
/*sotto-titoli-principali*/
/*menu - body*/
/*---------------------------------
-------------- COLORI -------------
----------------------------------*/
.bg-contrast-color {
  background-color: #f3c649 !important;
}
.bg-primary-color {
  background-color: #098f8f !important;
}
.bg-secondary-color {
  background-color: #90cdcd !important;
}
.bg-light-color {
  background-color: #ebf6f6 !important;
}
.bg-dark-color {
  background-color: #098f8f !important;
}
.bg-manual-secondary-color-fade {
  background-color: rgba(7, 119, 119, 0.7) !important;
}
.tx-contrast-color {
  color: #f3c649 !important;
}
.tx-primary-color {
  color: #098f8f !important;
}
.tx-secondary-color {
  color: #90cdcd !important;
}
.tx-light-color {
  color: #ebf6f6 !important;
}
.tx-dark-color {
  color: #032f2f !important;
}
.bd-contrast-color {
  border-color: #f3c649 !important;
}
.bd-primary-color {
  border-color: #098f8f !important;
}
.bd-secondary-color {
  border-color: #90cdcd !important;
}
.bd-light-color {
  border-color: #ebf6f6 !important;
}
.bd-dark-color {
  border-color: #098f8f !important;
}
.primary-color {
  color: #032f2f !important;
}
.secondary-color {
  color: #077777 !important;
}
.black-color {
  color: #000 !important;
}
.white-color {
  color: #fff !important;
}
/*---------------------------------
--------------- BODY --------------
----------------------------------*/
body {
  padding-bottom: 60px;
}
h1,
.mbr-section-title,
a .mbr-section-title,
.title-block,
h1 span:nth-child(1).mbr-section-title,
.cart-product,
.cart-quantity,
.cart-total {
  font-size: 1.5rem !important;
  line-height: 1.8rem !important;
  padding-bottom: 0 !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  text-transform: none !important;
}
h1::after,
.mbr-section-title::after,
a .mbr-section-title::after,
.title-block::after,
h1 span:nth-child(1).mbr-section-title::after,
.cart-product::after,
.cart-quantity::after,
.cart-total::after {
  background: none;
}
/*---------------------------------
- NAVIGAZIONE - FIXED - TOP - PWA -
----------------------------------*/
/**{
  margin: 0;
  padding: 0;
}*/
.clear {
  clear: both;
}
.slide-toggle {
  display: none;
}
.slidemenu {
  font-family: arial, sans-serif;
  /*max-width: 600px;*/
  margin: 0 auto 15px;
  padding-top: 15px;
  overflow: hidden;
  background-color: #ebf6f6;
}
.slidemenu label {
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #032f2f;
  /*opacity: 0.2;*/
}
.slidemenu label:hover {
  cursor: pointer;
  color: #032f2f;
}
.slidemenu label span {
  display: block;
  padding: 0;
  height: min-content;
  color: #032f2f;
}
.slidemenu label span li {
  display: block;
  height: min-content;
}
.slidemenu label span li a {
  color: #032f2f;
}
.slidemenu label .icon {
  font-size: 20px;
  border: solid 2px #032f2f;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 45px !important;
  border-radius: 50%;
}
/*Bar Style*/
.slider {
  width: 100%;
  height: 5px;
  display: block;
  background: #90cdcd;
  margin-top: 0px;
  border-radius: 5px;
}
.slider .bar {
  width: 25%;
  height: 5px;
  background: #032f2f;
  border-radius: 5px;
}
/*Animations*/
.slidemenu label,
.slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/*Toggle*/
.slidemenu .slide-toggle:checked + label {
  opacity: 1;
}
.slidemenu #slide-item-1:checked ~ .slider .bar {
  margin-left: 0;
}
.slidemenu #slide-item-2:checked ~ .slider .bar {
  margin-left: 25%;
}
.slidemenu #slide-item-3:checked ~ .slider .bar {
  margin-left: 50%;
}
.slidemenu #slide-item-4:checked ~ .slider .bar {
  margin-left: 75%;
}
/*aggiunte mirco al css del menu top pwa*/
.menu-top-icon-swg {
  display: block !important;
  width: 30px;
  height: 25px;
  fill: #90cdcd;
  stroke: #032f2f;
  stroke-miterlimit: 10;
  stroke-width: 15px;
  margin: calc((50px / 2) - (30px / 2)) auto;
}
.slidemenu label span li {
  opacity: 0.5;
}
.slidemenu label span li.activeelemntli {
  opacity: 1;
}
/*---------------------------------------------
- NAVIGAZIONE - FIXED - TOP - sottomenu - PWA -
---------------------------------------------*/
ul#ulSubmenu.nav {
  display: none;
}
#ulSubmenu li a {
  display: block;
  padding: 0.5rem 1rem;
}
/*---------------------------------
 NAVIGAZIONE - FIXED - BOTTOM - PWA
----------------------------------*/
.fixedbottom {
  background-color: #fff;
  border-top: 1px solid #098f8f;
  position: fixed;
  height: 60px;
  bottom: -1px;
  z-index: 9999;
  overflow: visible;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.fixedbottom .form-control,
.form-control:focus {
  border: none;
  background-color: #fff;
}
.menu-bottom-icon-swg {
  display: block !important;
  width: 30px;
  height: 25px;
  fill: transparent;
  stroke: #098f8f;
  stroke-miterlimit: 10;
  stroke-width: 15px;
  margin: auto;
}
.menu-bottom-icon-swg:hover,
.menu-bottom-icon-swg:active {
  fill: #098f8f;
}
.menu-bottom-icon-swg:hover,
.menu-bottom-icon-swg:active {
  --color-1: #ebf6f6;
  --size-1: 50px;
}
.container-write-icon-swg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f3c649;
  bottom: 70px;
  right: 15px;
  z-index: 999;
  border-radius: 50%;
  -webkit-box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
}
.write-icon-swg {
  display: block !important;
  width: 25px;
  height: 25px;
  fill: #fff;
  stroke: #f3c649;
  stroke-miterlimit: 10;
  stroke-width: 15px;
}
/*---------------------------------------
 NAVIGAZIONE - SCHEDE - TOP - PAGE - PWA 
---------------------------------------*/
.nav-tabs {
  border-bottom: 1px solid #098f8f;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #032f2f;
  font-weight: 600;
  background-color: #fff;
  border-color: #098f8f #098f8f #fff;
}
.nav-tabs .nav-link,
#ulSubmenu li a {
  border-radius: 0.25rem 0.25rem 0 0 !important;
  color: #032f2f;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
}
.fade {
  display: none !important;
}
.fade.show {
  display: block !important;
}
/*---------------------------------
  MENU + LOGO - FIXED - TOP - SITE 
----------------------------------*/
#VerticalSpacer {
  position: absolute;
}
/*SCOMMENTARE CON BANNER TOP*/
/*.fixednav {
    top: 0px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
    -moz-box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
    box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
}*/
/*COMMENTARE CON BANNER TOP*/
.fixednav {
  position: relative;
  top: 0px;
  background-color: #098f8f !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  min-height: 60px;
}
.fixednav-scroll {
  background-color: #098f8f !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#btn-menumobile .fa-bars {
  display: none;
}
@media (max-width: 1179px) {
  .fulllogobckdark {
    margin-left: auto !important;
  }
  /*SCOMMENTARE CON BANNER TOP*/
  /*.fulllogobckdark-pwa-start {
        background-size: 105% 105% !important;
        margin: 25px auto 0 !important;
    }*/
}
.logo-top-pwa {
  background: url(/images/main_logo_pwa.png) center center;
  width: 206px;
  height: 61px;
  background-size: 206px 61px;
  background-repeat: no-repeat;
}
/*---------------------------------
----------- BANNER -TOP -----------
----------------------------------*/
.mbr-overlay-gradient {
  display: none;
}
.banner-top-pwa .mbr-overlay-gradient {
  display: block;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
  opacity: 1;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.banner-top-pwa .textBanner {
  z-index: 99;
  padding: 30px 10% 50px 10%;
  position: absolute;
  left: 0;
  top: 80px;
}
.banner-top-pwa .small2 {
  color: #032f2f !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 2.5rem !important;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}
.banner-top-pwa .big2,
.banner-top-pwa a.divbuttonstyle {
  display: none !important;
}
/*---------------------------------
--------- GENERIC BANNER ----------
----------------------------------*/
ul.banner-pwa > li,
ul.isotope-pwa > li {
  border-bottom: 1px solid #90cdcd;
}
ul.banner-pwa > li:nth-last-child(1),
ul.isotope-pwa > li:nth-last-child(1) {
  border-bottom: none !important;
}
.banner-pwa .work-subcaption,
.isotope-pwa .work-subcaption {
  width: 100%;
  height: auto;
  padding: 0 15px 0 0;
}
.banner-pwa .work-title,
.isotope-pwa .work-title {
  /*font-family: 'Fira Sans', sans-serif;
    font-weight: 500;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 1rem;
  line-height: 16.8px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.banner-pwa .work-desc,
.isotope-pwa .work-desc {
  line-height: 19px;
  margin: 3px 0 0 0;
  font-size: 1rem;
  /*font-family: 'Fira Sans', sans-serif;
    font-weight: 400;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-height: 54.4px;
  letter-spacing: 0.2px;
}
.badge {
  font-size: 100%;
}
/*---------------------------------
----------- ISOTOPE PWA -----------
----------------------------------*/
ul.isotope-pwa > li:first-of-type {
  padding-top: 0 !important;
}
.isotope-pwa .work-subcaption {
  padding: 0 0 0 15px;
}
ul.isotope-pwa > li:first-of-type .work-title {
  font-size: 120%;
  line-height: calc(19px * 1.2);
}
ul.isotope-pwa > li:first-of-type .work-desc {
  font-size: 110%;
  line-height: calc(19px * 1.1);
  max-height: 64.1px;
}
ul.isotope-pwa > li:first-of-type h5.work-desc {
  margin-bottom: 5px;
}
ul > li:first-of-type .pwa-img-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
ul > li:first-of-type .pwa-txt-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px 0 0 0;
  max-height: 500px;
}
.pwa-txt-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.pwa-txt-container {
  max-height: 98px;
}
.pwa-img-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
/*---------------------------------
------ SCHEDA PWA DETAILS ---------
----------------------------------*/
/*IMMAGINE*/
#divitem-gallery .flex-viewport {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.25rem !important;
}
/*---------------------------------
-------- PWA DETAILS aspx ---------
----------------------------------*/
/*FORM*/
.ui-15 .ui-form .ui-input {
  margin: 5px 0px;
}
.ui-15 .ui-form .ui-icon {
  top: 20px;
}
.form-control {
  background-color: white;
  font-size: 1rem;
  padding: 0.7em 0.5em;
}
/*Scroller*/
.owl-controls {
  margin-top: 0;
}