/*----------------------------------
IMPORTAZ. STILI COMBINAZIONI COLORI
----------------------------------*/
@import "custom-monocromo.less";
/*@import "custom-bicromo.less";*/
/*@import "custom-bicromo2.less";*/
/*@import "custom-colore-complementare.less";*/

/*----------------------------------
////////| IMPORTAZIONE FONT |/////// ATTENZIONE QUANDO SI COMBINANO GLI SCRIPT CSS L'IMPORT DEI FONT QUI NON FUNZIONA!!!!!!!!!! /////////// -> SPOSTATO IN MASTERPAGE
----------------------------------*/
/*----------------------------------
//////////////| FONT |//////////////
----------------------------------*/
@primary-font: 'Fira Sans', sans-serif; /*titoli-principali*/
@secondary-font: 'Raleway', sans-serif; /*sotto-titoli-principali*/
@base-font: 'Roboto', sans-serif; /*menu - body*/
@alternative-font: 'EBGaramond12-Regular', serif;

@title-size: 1rem;
@subtitle: 1rem;
@body-size: 1rem;

/*----------------------------------
///////| ALTRI ELEMENTI PWA |///////
----------------------------------*/
@dinamic-image-pwa: 200px;

/*---------------------------------
-------------- COLORI -------------
----------------------------------*/
@contrast-color-pwa: #f3c649;

.bg-contrast-color {
    background-color: @contrast-color-pwa !important
} 

.bg-primary-color {
    background-color: @bg-primary-color !important;
}

.bg-secondary-color {
    background-color: @bg-secondary-color !important;
}

.bg-light-color {
    background-color: @bg-light-color !important;
}

.bg-dark-color {
    background-color: @bg-dark-color !important;
}

.bg-manual-secondary-color-fade {
    background-color: @bg-manual-secondary-color-fade !important;
}

.tx-contrast-color {
    color: @contrast-color-pwa !important
} 

.tx-primary-color {
    color: @bg-primary-color !important;
}

.tx-secondary-color {
    color: @bg-secondary-color !important;
}

.tx-light-color {
    color: @bg-light-color !important;
}

.tx-dark-color {
    color: @primary-color !important;
}

.bd-contrast-color {
    border-color: @contrast-color-pwa !important
} 

.bd-primary-color {
    border-color: @bg-primary-color !important;
}

.bd-secondary-color {
    border-color: @bg-secondary-color !important;
}

.bd-light-color {
    border-color: @bg-light-color !important;
}

.bd-dark-color {
    border-color: @bg-dark-color !important;
}

.primary-color {
    color: @primary-color !important;
}

.secondary-color {
    color: @secondary-color !important;
}

.black-color {
    color: @black-color !important;
}

.white-color {
    color: @white-color !important;
}

/*---------------------------------
--------------- BODY --------------
----------------------------------*/
body {
    padding-bottom: 60px;
}
h1, .mbr-section-title, a .mbr-section-title, .title-block, h1 span:nth-child(1).mbr-section-title, .cart-product, .cart-quantity, .cart-total {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    padding-bottom: 0 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-transform:none !important;
    &::after {
        background:none;
    }
}

/*---------------------------------
----- NAVIGAZIONE - TOP - PWA -----
----------------------------------*/
/**{
  margin: 0;
  padding: 0;
}*/

.clear{
  clear: both;
}

.slide-toggle{
  display: none;
}

.slidemenu {
    position:relative;
    font-family: arial, sans-serif;
    /*max-width: 600px;*/
    margin: 0 auto 15px;
    padding-top: 15px;
    overflow: hidden;
    background-color:@bg-light-color;
}

.slidemenu label {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: @menu-color;
    /*opacity: 0.2;*/
}

.slidemenu label:hover {
    cursor: pointer;
    color: @menu-color;
}
.slidemenu label span {
    display: block;
    padding: 0;
    height: min-content;
    color: @menu-color;
}
.slidemenu label span li {
    display: block;
    height: min-content;
}
.slidemenu label span li a {
    color: @menu-color;
}
.slidemenu label .icon {
    font-size: 20px;
    border: solid 2px @menu-color;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 45px !important;
    border-radius: 50%;
}

/*Bar Style*/
.slider {
    width: 100%;
    height: 5px;
    display: block;
    background: @bg-secondary-color;
    margin-top: 0px;
    border-radius: 5px;
}
.slider .bar {
    width: 25%;
    height: 5px;
    background: @menu-color;
    border-radius: 5px;
}

/*Animations*/
.slidemenu, .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

/*aggiunte mirco al css del menu top pwa*/
.menu-top-icon-swg {
    display: block !important;
    width: 30px;
    height: 25px;
    fill: @bg-secondary-color;
    stroke: @menu-color;
    stroke-miterlimit: 10;
    stroke-width: 15px;
    margin: calc((50px / 2) - (30px / 2)) auto;
}
.slidemenu label span li {
    opacity: 0.5;
}
.slidemenu label span li.activeelemntli {
    opacity: 1;
}
.slidemenu-fixed {
    top: -61px;
    position: fixed;
    z-index: 999999999;
    width: 100%;
    margin-top: 61px;
}

/*---------------------------------------------
- NAVIGAZIONE - FIXED - TOP - sottomenu - PWA -
---------------------------------------------*/
ul#ulSubmenu.nav {
    display: none;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}


ul#ulSubmenu.nav li.nav-item {
    flex: 0 0 auto !important;
}

#ulSubmenu li a {
    &:extend(.nav-tabs .nav-link);
    display: block;
    padding: .5rem 1rem;
}

/*---------------------------------
 NAVIGAZIONE - FIXED - BOTTOM - PWA
----------------------------------*/
.fixedbottom {
    background-color: @white-color;
    border-top: 1px solid @bg-primary-color;
    position: fixed;
    height: 60px;
    bottom: -1px;
    z-index: 9999;
    overflow: visible;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.fixedbottom .form-control, .form-control:focus {
    border: none;
    background-color: #fff
}

.menu-bottom-icon-swg {
    display: block !important;
    width: 30px;
    height: 25px;
    fill: transparent;
    stroke: @bg-primary-color;
    stroke-miterlimit: 10;
    stroke-width: 15px;
    margin: auto;
}
.menu-bottom-icon-swg:hover, .menu-bottom-icon-swg:active {
    fill: @bg-primary-color;
}

.menu-bottom-icon-swg:hover, .menu-bottom-icon-swg:active {
    --color-1: @bg-light-color;
    --size-1: 50px;
}

.container-write-icon-swg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: @contrast-color-pwa;
    bottom: 70px;
    right: 15px;
    z-index: 999;
    border-radius: 50%;
    -webkit-box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, 0.25);
}
.write-icon-swg {
    display: block !important;
    width: 25px;
    height: 25px;
    fill: #fff;
    stroke: @contrast-color-pwa;
    stroke-miterlimit: 10;
    stroke-width: 15px;
}

/*---------------------------------------
 NAVIGAZIONE - SCHEDE - TOP - PAGE - PWA 
---------------------------------------*/
.nav-tabs {
    border-bottom: 1px solid @bg-primary-color;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: @body-color;
    font-weight: 600;
    background-color: #fff;
    border-color: @bg-primary-color @bg-primary-color #fff;
}

.nav-tabs .nav-link.active {
    border-bottom: 5px solid #fff;
    margin-bottom: -2px;
}

.nav-tabs .nav-link {
    border-radius: .25rem .25rem 0 0 !important;
    color: @body-color;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
}

#ulSubmenu li:nth-last-child(1) {
    padding-right: 15px !important;
}

.fade {
    display: none !important;
}
.fade.show {
    display: block !important;
}
/*---------------------------------
  MENU + LOGO - FIXED - TOP - SITE 
----------------------------------*/
#VerticalSpacer {
    position: absolute;
}
/*SCOMMENTARE CON BANNER TOP*/
/*.fixednav {
    top: 0px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
    -moz-box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
    box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0) !important;
}*/
/*COMMENTARE CON BANNER TOP*/
.fixednav {
    position: relative;
    top: 0px;
    background-color: @bg-primary-color !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    min-height: 60px;
}
.fixednav-scroll {
    background-color: @bg-primary-color !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#btn-menumobile .fa-bars {
    display: none;
}

@media (max-width: 1179px) {
    .fulllogobckdark {
        margin-left: auto !important;
    }
    /*SCOMMENTARE CON BANNER TOP*/
    /*.fulllogobckdark-pwa-start {
        background-size: 105% 105% !important;
        margin: 25px auto 0 !important;
    }*/
}

.logo-top-pwa {
    background: url(/images/main_logo_pwa.png) center center;
    width: 206px;
    height: 61px;
    background-size: 206px 61px;
    background-repeat: no-repeat;
}
/*---------------------------------
----------- BANNER -TOP -----------
----------------------------------*/
.mbr-overlay-gradient {
    display: none;
}
.banner-top-pwa .mbr-overlay-gradient {
    display: block;
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
    opacity: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
    .banner-top-pwa .textBanner {
        z-index: 99;
        padding: 30px 10% 50px 10%;
        position: absolute;
        left: 0;
        top: 80px;
    }
.banner-top-pwa .small2 {
    color: @primary-color !important;
    font-family: @primary-font !important;
    font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 2.5rem !important;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 20px;
    border-radius: 10px;
}

.banner-top-pwa .big2, .banner-top-pwa a.divbuttonstyle {
    display: none !important;
}

/*---------------------------------
--------- GENERIC BANNER ----------
----------------------------------*/

ul.banner-pwa > li {
    border-bottom: 1px solid @bg-secondary-color;
}
ul.banner-pwa > li:nth-last-child(1) {
    border-bottom: none !important;
}
.banner-pwa .work-subcaption {
    width: 100%;
    height: auto;
    padding: 0 15px 0 0;
}
.banner-pwa .work-title {
    /*font-family: 'Fira Sans', sans-serif;
    font-weight: 500;*/
    font-family: @base-font;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: @title-size;
    line-height: 16.8px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.banner-pwa .work-desc {
    line-height: 19px;
    margin: 3px 0 0 0;
    font-size: @body-size;
    /*font-family: 'Fira Sans', sans-serif;
    font-weight: 400;*/
    font-family: @base-font;
    font-weight: 300;
    max-height: 54.4px;
    letter-spacing: 0.2px;
}
.badge {
    font-size: 100%;
}


/*---------------------------------
----------- ISOTOPE PWA -----------
----------------------------------*/
ul.isotope-pwa > li {
    &:extend(ul.banner-pwa > li);
}
ul.isotope-pwa > li:nth-last-child(1) {
    &:extend(ul.banner-pwa > li:nth-last-child(1));
}
ul.isotope-pwa > li:first-of-type {
    padding-top: 0 !important;
}
.isotope-pwa .work-subcaption {
    &:extend(.banner-pwa .work-subcaption);
    padding: 0 0 0 15px;
}
.isotope-pwa .work-title {
    &:extend(.banner-pwa .work-title);
}
ul.isotope-pwa > li:first-of-type .work-title {
    font-size: 120%;
    line-height: calc(19px * 1.2);
}
.isotope-pwa .work-desc {
    &:extend(.banner-pwa .work-desc);
}
ul.isotope-pwa > li:first-of-type .work-desc {
    font-size: 110%;
    line-height: calc(19px * 1.1);
    max-height: 64.1px;
}
ul.isotope-pwa > li:first-of-type h5.work-desc {
    margin-bottom: 5px;
}
ul > li:first-of-type .pwa-img-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
ul > li:first-of-type .pwa-txt-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px 0 0 0;
    max-height: 500px;
}
.pwa-txt-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.pwa-txt-container{
    max-height: 98px;
}
.pwa-img-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/*---------------------------------
------ SCHEDA PWA DETAILS ---------
----------------------------------*/
/*IMMAGINE*/
#divitem-gallery .flex-viewport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .25rem !important;
    max-height: @dinamic-image-pwa;
    /*padding-top: calc(9 / 16 * 100%);
    margin-top: calc(-9 / 16 * 100%);*/
}
@media (min-width: 735px) {
    #divitem-gallery .flex-viewport {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: .25rem !important;
        max-height: calc(735 / 414 * @dinamic-image-pwa);
    }
}
/*IMMAGINE news*/
.pwa-details-info #plhGallery .flexslider {
    margin-bottom: 0 !important;
}
.pwa-details-info #divitem-gallery .flex-viewport {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}

/*---------------------------------
-------- PWA DETAILS aspx ---------
----------------------------------*/
/*FORM*/
.ui-15 .ui-form .ui-input {
    margin: 5px 0px;
}
.ui-15 .ui-form .ui-icon {
    top: 20px;
}
.form-control {
    background-color: white;
    font-size: @body-size;
    padding: 0.7em 0.5em;
}
/*Scroller*/
.owl-controls {
    margin-top: 0;
}

/*---------------------------------
-------- swiperPWAscroller ---------
----------------------------------*/
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: @bg-primary-color;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-text {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.90);
    bottom: 0;
}

/*---------------------------------
------------- CONTACT -------------
----------------------------------*/
.errore-contact {
    background: lightyellow;
    border: 1px solid red;
    padding: 0.7em 0.5em;
    border-radius: .25rem;
    text-align: left;
    width: 100%;
}
.errore-privacy-pwa-contact {
    z-index: 999999;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    border: 1px solid;
    margin-bottom: 50px;
}
@media (min-width: 735px) {
    .errore-privacy-pwa-contact {
        margin-bottom: 15px;
    }
}

/*---------------------------------
------------- SEARCH -------------
----------------------------------*/
#searchpwa {
    margin-bottom: -10px;
}















 