@import "custom-monocromo.less";

/*----------------------------------
-------------- PULSANTI --------------
----------------------------------*/


.btnnew-base, .btnnew-base:active, .btnnew-base:visited, .btnnew-base:focus {
    font-family: @button-font;
    font-size: @button-size;
    font-weight: @font-weight-medium;
    color: @button-color !important;
    background: @bg-button-color;
    /*   box-shadow: inset 0 0 0 @bd-bottom2-width @color-sottomeu;
    -webkit-transition: color 0.25s 0.0833333333s;*/
    border-radius: 5px;
    border: 1px solid @bd-button-color;
    line-height: 1.3;
    letter-spacing: 2px;
    padding: 0.8rem 1rem;
    margin: 0 auto;
    display: inline-block;
    height: auto !important;
    cursor: pointer;
    text-align: center;
}

.btn, .btn:active, .btn:visited, .btn:focus {
    &:extend(.btnnew-base);
}

.btn:hover {
    &:extend(.btnnew-base);
    background: @bg-button-hover-color;
}

.btn.btn-blue {
    border: 1px solid @bg-primary-color;
    box-shadow: none;
}


.divbuttonstyle {
    &:extend(.btnnew-base);
    margin: 0px !important;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstyle:hover {
    &:extend(.btnnew-base);
    background: @bg-button-hover-color;
    /*background-color: #4f4f4f;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    /*  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);*/
}

.divbuttonstyle:active {
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstyle:visited {
    &:extend(.btnnew-base);
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstyle a {
    &:extend(.btnnew-base);
}
/*----------------------------------*/

button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}

/*pulsante newsletter*/
.fa-paper-plane {
    line-height: 1.3;
}
 


/*STILE PULSANTE CARRELLO OUTLINE*/
.carrellocustom .button-carrello, .carrellocustom .button-carrello:active, .carrellocustom .button-carrello:visited, .carrellocustom .button-carrello:focus {
    box-shadow: inset 0 0 0 @bd-bottom2-width @bg-primary-color;
    color: @button-outline-color !important;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75) !important;
    border: none;
    cursor: pointer;
    line-height: 1.3;
    font-family: @button-font;
    letter-spacing: 2px;
    font-size: @button-size;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.8rem 1rem;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    white-space: normal;
    border-radius: 0px;
}

.carrellocustom .button-carrello::after, .carrellocustom .button-carrello:active::after, .carrellocustom .button-carrello:visited::after, .carrellocustom .button-carrello:focus::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-top-width: @bd-bottom2-width !important;
    border-right-width: @bd-bottom2-width !important;
}

.carrellocustom .button-carrello::before, .carrellocustom .button-carrello:active::before, .carrellocustom .button-carrello:visited::before, .carrellocustom .button-carrello:focus::before {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom-width: @bd-bottom2-width !important;
    border-left-width: @bd-bottom2-width !important;
}

.carrellocustom .button-carrello:hover {
    color: @color-sottomeu !important;
    background-color: #fff !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width @color-sottomeu-tenue;
    opacity: 1;
    border-radius: 0 !Important;
}

.carrellocustom .button-carrello:hover::before,
.carrellocustom .button-carrello:hover::after {
    border-color: @color-sottomeu !important;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100% !important;
    height: 100% !important;
}

.carrellocustom .button-carrello:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.carrellocustom .button-carrello:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}


.carrellocustom .button-carrello {
    width: 100%;
}

#carrellos1minus .button-carrello, #carrellos1plus .button-carrello {
    font-size: 1.7rem !important;
}

/*  -----------------------------------------  */

/*( da revisionare ) */
.btn-black-outline, .btn-black-outline:active, .btn-black-outline:visited, .btn-black-outline:focus  {
    font-family: @button-font;
    font-size: @button-size;
    font-weight: @font-weight-medium;
    color: @button-outline-color !important;
    background: @white-color !important;
    position: relative;
    line-height: 1.3;
    letter-spacing: 2px;
    padding: 0.8rem 1rem;
    margin: 0 auto;
    display: inline-block;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    white-space: normal;
    height: auto !important;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: inset 0 0 0 @bd-bottom2-width @bg-primary-color;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
}

a.btn-black-outline:hover, .btn-black-outline:hover {
    color: @button-outline-hover-color !important;
    background: @bg-button-outline-hover-color !important;
    border-radius: 0px;
    box-shadow: inset 0 0 0 @bd-bottom2-width @bg-light-color;
    opacity: 1;
}

a.btn-black-outline:active, a.btn-black-outline:focus {
    &:extend(.btn-black-outline);
    color: @button-outline-hover-color !important;
    background: @bg-button-outline-hover-color !important;
    border-color: @bg-button-outline-hover-color;
    opacity: 1;
    text-decoration: none !important;
    border: 1px solid @bg-button-color;
}


/*STILE PULSANTE BLACK OUTLINE */
/*( da revisionare ) */
.btn-black, .btn-black:active, .btn-black:visited, .btn-black:focus {
    box-shadow: inset 0 0 0 @bd-bottom2-width @bg-primary-color;
    color: @button-outline-color !important;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75) !important;
    border: none;
    cursor: pointer;
    line-height: 1.3;
    font-family: @button-font;
    letter-spacing: 2px;
    font-size: @button-size;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.8rem 1rem;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    white-space: normal;
    border-radius: 0px;
}

.btn-black::after, .btn-black:active::after, .btn-black:visited::after, .btn-black:focus::after, .btn-black:focus::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-top-width: @bd-bottom2-width !important;
    border-right-width: @bd-bottom2-width !important;
}
.btn-black::before, .btn-black:active::before, .btn-black:visited::before, .btn-black:focus::before {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom-width: @bd-bottom2-width !important;
    border-left-width: @bd-bottom2-width !important;
}

.btn-black:hover {
    color: @color-sottomeu !important;
    background-color: #fff !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width @color-sottomeu-tenue;
    opacity: 1;
    border-radius: 0 !Important;
}

 .btn-black:hover::before, .btn-black:hover::after {
    border-color: @color-sottomeu !important;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100% !important;
    height: 100% !important;
}

  .btn-black:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

  .btn-black:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}


/*STILE PULSANTE white OUTLINE*/
/*( da revisionare ) */
.btn-white-outline, .btn-white-outline:active, .btn-white-outline:visited, .btn-white-outline:focus {
    &:extend(.divbuttonstyle);
    color: @button-outline-color !important;
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width #fff;
    border: none;
    border-radius: 0px;
    white-space: normal;
}

.btn-white-outline::after, .btn-white-outline:active::after, .btn-white-outline:visited::after, .btn-white-outline:focus {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-top-width: @bd-bottom2-width !important;
    border-right-width: @bd-bottom2-width !important;
}

.btn-white-outline::before, .btn-white-outline:active::before, .btn-white-outline:visited::before, .btn-white-outline:focus {
    &:extend(.btn-white-outline::after);
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: @bd-bottom2-width !important;
    border-left-width: @bd-bottom2-width !important;
}
 


/* BTN-WHITE*/
/*( da revisionare ) */
.btn-white::after, .btn-white:active::after, .btn-white:visited::after, .btn-white:focus::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-top-width: @bd-bottom2-width !important;
    border-right-width: @bd-bottom2-width !important;
}

.btn-white::before, .btn-white:active::before, .btn-white:visited::before, .btn-white:focus::before {
    &:extend(.btn-white-outline::after);
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: @bd-bottom2-width !important;
    border-left-width: @bd-bottom2-width !important;
}

.btn-white:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width rgba(255, 255, 255, 0) !important;
    opacity: 1;
}


/*STILE PULSANTE DARK (@primary-color)*/
/*( da revisionare ) */
.btn-primary-color, .btn-primary-color:active, .btn-primary-color:visited, .btn-primary-color:focus  {
    &:extend(.divbuttonstyle);
    color: @button-outline-color !important;
    background-color: @primary-color !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width @primary-color !important;
    border: none;
    border-radius: 0px;
    white-space: normal;
}

.btn-primary-color::after, .btn-primary-color:active::after, .btn-primary-color:visited::after, .btn-primary-color:focus   {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-top-width: @bd-bottom2-width !important;
    border-right-width: @bd-bottom2-width !important;
}

.btn-primary-color::before, .btn-primary-color:active::before, .btn-primary-color:visited::before, .btn-primary-color:focus   {
    &:extend(.btn-white-outline::after);
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: @bd-bottom2-width !important;
    border-left-width: @bd-bottom2-width !important;
}

.btn-primary-color:hover  {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: inset 0 0 0 @bd-bottom2-width rgba(255, 255, 255, 0) !important;
    opacity: 1;
}

 .btn-primary-color:hover::after {
    border-color: @primary-color !important;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100% !important;
    height: 100% !important;
}

 .btn-primary-color:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

 .btn-primary-color:hover::after  {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

/* BOTTONE TRASPARENTE */
/*( da revisionare ) */
.btn-transparent-outline, .btn-transparent-outline:active, .btn-transparent-outline:visited, .btn-transparent-outline:focus, 
.btn-transparent,  .btn-transparent:active, .btn-transparent:visited,  .btn-transparent:focus {
    &:extend(.btn-black-outline:hover);
    opacity: 1;
}

a.btn-transparent-outline:hover, .btn-transparent-outline:hover,   
.btn-transparent:hover {
    &:extend(.btn-black-outline);
    opacity: 1;
}
 



/* --------------------------------------------------------------------------------------   */
/*BOTTONE BANNER ROTONDO content FRECCIA CHE SI MUOVE*/
.btn-banner, .btn-banner:active, .btn-banner:visited, .btn-banner:focus {
    &:extend(.btnnew-transparent-outline-bdwhite);
    min-width: 0 !important;
    min-height: 0 !important;
    letter-spacing: 0;
    border-radius: 50%;
    padding: 0 !important;
    width: 60px !important;
    height: 60px !important;
    max-width: 60px !important;
    max-height: 60px !important;
    line-height: 60px !important;
    margin: 30px 0 0 -30px !important;
    font-size: 2rem !important;
    position: relative;
    left: 50% !important;
    border: 2px solid rgba(255, 255, 255, 0.50) !important;
    color: rgba(255, 255, 255, 0.50) !important;
    background-color: transparent !important;
    box-shadow: inset 0 0 0 0 @color-sottomeu;
    border-radius: 50% !important;
}
.btn-banner i {
    animation: arrowdown 1.7s ease-in-out infinite;
}
.btn-banner::after, .btn-banner::before {
    box-shadow: inset 0 0 0 0 @color-sottomeu;
    border: none;
    border-radius: 50%
}
.btn-banner:hover {
    &:extend(.btn-banner);
    text-decoration: none !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}


@keyframes arrowdown {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

@-webkit-keyframes arrowdown {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}


/* NEW BUTTONS REVISIONE (DANIELE )*/

.btnnew-outline-bdblack, .btnnew-outline-bdblack:active, .btnnew-outline-bdblack:visited, .btnnew-outline-bdblack:focus {
    font-family: @button-font;
    font-size: @button-size;
    font-weight: @font-weight-medium;
    color: @button-outline-color;
    background: @bg-button-outline-color;
   
    line-height: 1.3;
    letter-spacing: 2px;
    padding: 0.8rem 1rem;
    margin: 0 auto;
    display: inline-block;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    white-space: normal;
    height: auto !important;
    border: 1px solid @bd-button-outline-color;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 0 @bd-bottom2-width @bd-button-outline-color;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    /*
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    border-radius: 1.4rem;
    */
}

.btnnew-outline-bdblack:hover {
    background-color: @bg-button-outline-hover-color;
    border-color: @bd-button-outline-hover-color;
    color: @button-outline-hover-color;
    opacity: 1;
}

.btnnew-transparent-outline-bdblack, .btnnew-transparent-outline-bdblack:active, .btnnew-transparent-outline-bdblack:visited, .btnnew-transparent-outline-bdblack:focus {
    &:extend(.btnnew-outline-bdblack);
    background-color: transparent;
}

.btnnew-transparent-outline-bdblack:hover {
    &:extend(.btnnew-outline-bdblack:hover);
}


.btnnew-transparent-outline-bdwhite, .btnnew-transparent-outline-bdwhite:active, .btnnew-transparent-outline-bdwhite:visited, .btnnew-transparent-outline-bdwhite:focus {
    &:extend(.btnnew-outline-bdblack);
    border-color: @white-color;
    box-shadow: inset 0 0 0 @bd-bottom2-width @white-color;
    background-color: transparent;
}

.btnnew-transparent-outline-bdwhite:hover {
    &:extend(.btnnew-outline-bdblack:hover);
    border-color: @white-color;
    box-shadow: inset 0 0 0 @bd-bottom2-width @white-color;
}


.divbuttonstylepetrol {
    color: white;
    padding: 5px;
    margin: 0px !important;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-radius: 0px;
    border: none;
}

.divbuttonstylepetrol:hover {
    color: white;
    padding: 5px;
    text-align: center;
    /*background-color: #4f4f4f;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    /*  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);*/
}

.divbuttonstylepetrol:active {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylepetrol:visited {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylepetrol a {
    color: white;
    font-size: 1.2em;
}


.divbuttonstylecustom1 {
    color: white;
    padding: 11px;
    margin: 0px !important;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-radius: 0px;
    border: none;
}

.divbuttonstylecustom1:hover {
    color: white;
    padding: 11px;
    text-align: center;
    /*background-color: #4f4f4f;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    /*  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);*/
}

.divbuttonstylecustom1:active {
    color: white;
    padding: 11px;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylecustom1:visited {
    color: white;
    padding: 11px;
    text-align: center;
    background-color: @bg-custom-color1;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylecustom1 a {
    color: white;
    font-size: 1.2em;
}


.divbuttonstylecustom2 {
    color: white;
    padding: 11px;
    margin: 0px !important;
    text-align: center;
    background-color: @bg-custom-color2;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-radius: 0px;
    border: none;
}

.divbuttonstylecustom2:hover {
    color: white;
    padding: 11px;
    text-align: center;
    /*background-color: #4f4f4f;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    /*  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);*/
}

.divbuttonstylecustom2:active {
    color: white;
    padding: 11px;
    text-align: center;
    background-color: @bg-custom-color2;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylecustom2:visited {
    color: white;
    padding: 11px;
    text-align: center;
    background-color: @bg-custom-color2;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
}

.divbuttonstylecustom2 a {
    color: white;
    font-size: 1.2em;
}


.divbuttonstylenegative {
    color: #4a4b4c;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    font-weight: @font-weight-strong;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.divbuttonstylenegative:hover {
    color: #4a4b4c;
    padding: 10px;
    text-align: center;
    background-color: #ccc;
    /*background-color: #4f4f4f;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.divbuttonstylenegative:active {
    color: #4a4b4c;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.divbuttonstylenegative:visited {
    color: #4a4b4c;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    /*-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.6);*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.divbuttonstylenegative a {
    color: #4a4b4c;
    font-size: 1.1em;
}

/* NEW BUTTONS REVISIONE (DANIELE )*/
/* Start Stili bottone custom tipo 1 */

.btnicon-tipo1 {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

svg.svgicon path {
    fill: #fff;
    stroke: #fff;
}

svg.svgicon-dark path {
    fill: @primary-color;
    stroke: @primary-color;
}

svg.svgicon-color1 path {
    fill: @bg-dark-color;
    stroke: @bg-dark-color;
}

svg.svgicon-color2 path {
    fill: @black-color;
    stroke: @black-color;
}

.btniconcontainer-tipo1 {
    border: 2px solid #8f8f8f !important;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: transparent !important;
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 8px;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    background: #fff;
    font-size: 0;
}

.btniconcontainer-tipo1.whitecircle {
    border: 2px solid #fff !important;
}

.btniconcontainer-tipo1.darkcircle {
    border: 2px solid #888 !important;
}

.btniconcontainer-tipo1.color1circle {
    border: 2px solid @bg-dark-color !important;
}

.btniconcontainer-tipo1.color2circle {
    border: 2px solid @custom2-color !important;
}
/* End Stili bottone custom tipo 1  */
