




.testimonial .testimonial-text-title {
    background-color: #f5f5f5;
    padding: 10px 15px 15px 75px;
    margin: 1px 0 0 1px;
    position: relative;
    font-size: 1em;
    font-weight: normal;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.testimonial .testimonial-person-pic {
    bottom: 40px;
}

.testimonial-big {
    margin-top: 1%;
    text-align: center;
    background: transparent;
}

    .testimonial-big .testimonial-big-text {
        background-color: rgba(242, 239, 237, 0.6);
        line-height: normal !important;
        font-size: 2rem;
        font-size: 1.2vw;
        font-weight: normal;
        margin-top: 0px;
        height: auto;
        color: #333;
        line-height: 20px;
        padding: 20px 20px;
        margin: 0 auto;
        float: none;
        word-wrap: break-word;
    }

    .testimonial-big a {
        line-height: normal !important;
        font-size: 1.2rem;
        font-size: 1.6vw;
        font-weight: normal;
    }

    .testimonial-big .testimonial-big-text:after {
        content: "";
    }

    .testimonial-big .testimonial-big-text:before {
        content: "";
    }

    .testimonial-big .testimonial-small-text {
        float: left;
        color: #fff;
        line-height: normal !important;
        font-size: 1.4rem;
        font-size: 3vw;
        font-weight: normal;
        position: relative;
        text-align: center;
    }


.section-content {
    border-top: none;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 0 0 0;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

    .section-content.section-px {
        background-attachment: local;
        background-repeat: no-repeat;
        border: none;
    }

        .section-content.section-px.sfondo1-bg {
            background-image: url(../images/sitespecific/sfondo-1.jpg);
        }

        .section-content.section-px.sfondo2-bg {
            background-image: url(../images/sitespecific/sfondo-2.jpg);
        }

        .section-content.section-px.sfondo3-bg {
            background-image: url(../images/sitespecific/sfondo-3.jpg);
        }

.upshadow {
    -moz-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottomshadow {
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.top-bar {
    /*height: auto !important;*/
    line-height: 30px;
    height: 30px !important;
    background-color: transparent;
    /*#33332e;*/
    color: #fff;
    border-bottom: 1px solid #fff;
}

    .top-bar .languages {
        overflow: hidden;
        float: right;
        width: auto;
    }

.call-us span,
.top-bar-block span {
    font-size: 13px;
}


.rightside .rightside-promo {
    color: #809193;
    position: relative;
    display: block;
    vertical-align: middle;
    margin-top: 20px;
    line-height: normal;
    font-weight: normal;
    height: 100%;
    font-size: 1.1rem;
}

    .rightside .rightside-promo .fa {
        font-size: 1.7rem;
        float: left;
        margin-right: 10px;
    }

.rightside .menu-icon a {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}

.displaytable {
    display: table;
    height: 100%
}

.displaytablecell {
    display: table-cell;
    vertical-align: bottom;
}


.social-icons-small > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
    float: right;
}

.social-icons-small {
    overflow: hidden;
    float: right;
    width: auto;
}

    .social-icons-small .social-media-icon-small {
        background-color: transparent;
        height: 30px;
        border: none;
        margin: 0;
        background-position: 0 -33px;
    }

        .social-icons-small .social-media-icon-small:hover {
            border: none;
            background-position: 0 -3px;
        }

.social-media-icon-small {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-color: #fafafa;
    border: none;
    display: inline-block;
    margin: 0 5px 5px 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0 -30px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

    .social-media-icon-small:hover {
        background-position: 0 0;
    }

.social-icons-small .twitter-icon-small {
    background-image: url("../images/social-media/social-media-twitter-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .twitter-icon-small:hover {
        background-color: #00a0d1;
        border: 1px solid #00799e;
    }

.social-icons-small .facebook-icon-small {
    background-image: url("../images/social-media/social-media-facebook-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .facebook-icon-small:hover {
        background-color: #3b5998;
        border: 1px solid #2d4373;
    }


.social-icons-small .instagram-icon-small {
    background-image: url("../images/social-media/social-media-instagram-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .instagram-icon-small:hover {
        background-color: #ae26c8;
        border: 1px solid #ae26c8;
    }

.social-icons-small .youtube-icon-small {
    background-image: url("../images/social-media/social-media-youtube-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .youtube-icon-small:hover {
        background-color: #f01616;
        border: 1px solid #f01616;
    }

/*.bckdarkblue {
    background-color: #b7e2b1;
}

    .bckdarkblue .section-etabs {
        background-color: #b7e2b1;
    }

        .bckdarkblue .section-etabs .tab a {
            color: #ffffff;
        }

.bckblue {
    background-color: #c2daf2;
}

.bckviolet {
    background-color: #D7DFF5;
}

.bckdarkviolet {
    background-color: #4a4b4c;
}

    .bckdarkviolet .section-etabs {
        background-color: #4a4b4c;
    }

        .bckdarkviolet .section-etabs .tab a {
            color: #ffffff;
        }

.bckdargreeen {
    background-color: #91e0c4;
}*/
/*.section-etabs-container {
    background-color: #b7e2b1;
}

.section-tabs   {
    background-color: #c2daf2;
}

.section-tabs .section-etabs {
    background-color: #b7e2b1;
}

.section-tabs .section-etabs  .tab a {
    color: #ffffff;
}*/

/*.item-img-overlay .portfolio-zoom:hover,
.tab a.active {
    color: #000000 !important;
    font-weight: bold;
}

.feature .feature-details {
    border-top: 1px solid #ccc;
    background-color: transparent;
    color: #606060;
}

    .feature .feature-details a {
        color: #606060;
    }

.divequalspaced {
    text-align: justify;
    vertical-align: middle;
    float: none;
    padding-left: 1%;
    padding-right: 1%;
}

    .divequalspaced > div {
        text-align: justify;
        vertical-align: middle;
        display: inline-block;
        float: none;
        margin: 0px;
    }

    .divequalspaced:after {
        vertical-align: middle;
        content: '';
        width: 100%;
        display: inline-block;
    }

.bckLight {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f3f3f3;
}*/
/* -------------------     menu tipo equistpaziato  ------------------------------------------  */



/* -----------Galleria styles -------------------- */
/*.flex-direction-nav {
    line-height: 60px;
}
ol.flex-control-thumbs li {
    height: 100px;
}
.flex-viewport {
    max-height: 800px;
}*/



/*------------------------------------*/
/*Carousel
------------------------------------*/
/*carousel-v1*/
.carousel-v1 .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px 15px;
    background: rgba(0, 0, 0, 0.7);
}

    .carousel-v1 .carousel-caption p {
        color: #fff;
        margin-bottom: 0;
    }

.carousel-v1 .carousel-arrow a.carousel-control {
    opacity: 1;
    font-size: 40px;
    height: inherit;
    width: inherit;
    background: none;
    text-shadow: none;
    position: inherit;
}

.carousel-v1 .carousel-arrow a i {
    top: 50%;
    opacity: 0.6;
    /*background: #000;*/
    margin-top: -18px;
    padding: 2px 12px;
    position: absolute;
}

    .carousel-v1 .carousel-arrow a i:hover {
        opacity: 0.8;
    }

.carousel-v1 .carousel-arrow a.left i {
    left: 0;
}

.carousel-v1 .carousel-arrow a.right i {
    right: 0;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .carousel-inner > .item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
    }

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            display: block;
            max-width: 100%;
            height: auto;
            line-height: 1;
        }

    .carousel-inner > .active,
    .carousel-inner > .next,
    .carousel-inner > .prev {
        display: block;
    }

    .carousel-inner > .active {
        left: 0;
    }

    .carousel-inner > .next,
    .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner > .next {
        left: 100%;
    }

    .carousel-inner > .prev {
        left: -100%;
    }

        .carousel-inner > .next.left,
        .carousel-inner > .prev.right {
            left: 0;
        }

    .carousel-inner > .active.left {
        left: -100%;
    }

    .carousel-inner > .active.right {
        left: 100%;
    }

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

    .carousel-control.left {
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .5) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-control:hover,
    .carousel-control:focus {
        color: #fff;
        text-decoration: none;
        filter: alpha(opacity=90);
        outline: none;
        opacity: .9;
    }

    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-left {
        left: 50%;
    }

    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        right: 50%;
    }

    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        font-family: serif;
    }

        .carousel-control .icon-prev:before {
            content: '\2039';
        }

        .carousel-control .icon-next:before {
            content: '\203a';
        }

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff;
    }

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

    .carousel-caption .btn {
        text-shadow: none;
    }

@media screen and (min-width: 768px) {
    .carousel-control .glyphicons-chevron-left,
    .carousel-control .glyphicons-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }

    .carousel-indicators {
        bottom: 20px;
    }
}
/* END CAROUSEL CONTROL */


/*------------------------------------*/
/*Owl Carousel
------------------------------------*/
.imgcontained {
    /*display: block;
        overflow: hidden;
        height: 100%;
        width:auto;
        max-width:100%;
        margin:0px auto;*/
    /* CSS Hack will make it width 100% and height 100% */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* Maintain aspect ratio */
    max-height: 100%;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin: auto;
}

.owl-btn {
    color: #777;
    cursor: pointer;
    font-size: 26px;
    padding: 2px 9px;
    text-align: center;
    /*background: #fafafa;*/
}

    .owl-btn:hover {
        color: #fff;
        /*background: #72c02c;*/
    }

.owl-carousel-v1 .owl-navigation {
    text-align: center;
    margin-bottom: 20px;
}

/*.owl-carousel-v1 .item {
    margin: 0 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(200,200,200,0.24);
    -moz-box-shadow: 0px 0px 1px 1px rgba(200,200,200,0.24);
    box-shadow: 0px 0px 1px 1px rgba(200,200,200,0.24);
    -webkit-transition: box-shadow .3s;
    -moz-filter: drop-shadow(0 2px 5px .2px);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;*/
/*-webkit-filter: drop-shadow(0 2px 5px .2px);
}*/

.owl-carousel-v1 .item:hover {
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
    /*-webkit-filter: drop-shadow(0 7px 14px .35px);*/
    -moz-filter: drop-shadow(0 7px 14px .35px);
}

.owl-carousel-v1 .item img {
    text-align: center;
}

.owl-carousel-v1 .owl-pagination {
    /*display: none;*/
}
/*Owl Carousel v2*/

.owl-carousel-v2 .owl-slider-v2 {
    margin-bottom: 20px;
}

.owl-carousel-v2 .item {
    margin: 0 25px;
}

    .owl-carousel-v2 .item img {
        text-align: center;
    }

.owl-carousel-v2 .owl-navigation {
    text-align: center;
}

.owl-carousel-v2 .owl-pagination {
    /*display: none;*/
}
/*Owl Carousel v3*/

.owl-carousel-v3 .item {
    margin: 0 25px;
}

    .owl-carousel-v3 .item img {
        text-align: center;
    }

.owl-carousel-v3 .owl-pagination {
    /*display: none;*/
}
/*Owl Carousel v4*/

.owl-carousel-v4 .owl-wrapper-outer {
    margin-bottom: 20px;
}

.owl-carousel-v4 .item {
    margin: 0 25px;
}

    .owl-carousel-v4 .item img {
        width: 100%;
    }
/*Owl Pagination*/

.owl-pagination {
    text-align: center !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
}

.owl-theme .owl-controls .owl-page {
    zoom: 1;
    display: inline-block;
    *display: inline;
    /*IE7 life-saver */
}

    .owl-theme .owl-controls .owl-page span {
        width: 12px;
        height: 12px;
        opacity: 0.3;
        display: block;
        margin: 5px 7px;
        background: #bbb;
        filter: Alpha(Opacity=50);
        /*IE7 fix*/
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
/*Owl Carousel Style v1*/

.owl-carousel-style-v1 img {
    width: 120px;
    height: auto;
}
/*Owl Carousel Style v2*/

.owl-carousel-style-v2 .item {
    margin: 0 3px;
    background: #fafafa;
    text-align: center;
    border: solid 1px #e6e6e6;
}

    .owl-carousel-style-v2 .item img {
        padding: 0 3px;
        display: inline-block;
    }

    .owl-carousel-style-v2 .item:hover {
        background: #f7f7f7;
        border-color: #e5e5e5;
        transition: all 0.4s ease-in-out;
    }

.owl-carousel-style-v2 .owl-pagination {
    display: none;
}
/*END OWL CAROUSEL CSS  ****************************************/


/**************bottoni non usati*******************************************/

/*.btn.btn-purple {
    color: #ffffff;
    background: #1f8b74;
    border-color: none;
    border: none;
    box-shadow: none;
}

    .btn.btn-purple:hover,
    .btn.btn-purple:focus,
    .btn.btn-purple.active,
    .btn.btn-purple:active {
        background: #666;
        color: #ffffff;
    }

.btn-default {
    text-shadow: none !important;
    color: #ffffff !important;
    background-color: #474949 !important;
    border-color: #474949 !important;
   
}

.btn-small {
    padding: 0px 5px !important;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn-group {
    float: left;
}

    .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
        border-radius: 0;
    }

    .btn-group > .btn-group:first-child > .btn:last-child,
    .btn-group > .btn-group:first-child > .dropdown-toggle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group > .btn-group:last-child > .btn:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.btn-group > .btn-large + .dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn .caret {
    margin-left: 0;
}

select.input-small {
    height: 25px;
    line-height: 25px;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0;
}

    .input-group .form-control:last-child,
    .input-group-addon:last-child,
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .dropdown-toggle,
    .input-group-btn:first-child > .btn:not(:first-child) {
        border-left: 0;
    }*/


/*TRICK PER AVERE STRUTTURA BOOTSTRAP >xs con col tutte della stessa altezza*/

/*@media (min-width:768px) {
    .no-gutter > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:768px) {
    .table-container {
        display: table;
        width: 100%;
    }

        .table-container .table-row {
            height: 100%;
            display: table-row;
        }

            .table-container .table-row .table-col {
                display: table-cell;
                float: none;
                vertical-align: middle;
            }

    .table-col div {
        margin: 0px auto;
    }
}

.table-col .ecomctr-group {
    display: table-cell;
    position: relative;
}

.ecomctr {
    padding: 0.5em;
}

    .ecomctr .ecomctr-group {
        background: #fff;
        border: 1px solid #e8e8e8;
        background-color: #f5f5f5;
        border-radius: 3px;
        box-shadow: none;
        color: #565656;
        font-size: 0.875rem;
    }

.ecomctr-icon {
    right: 4px;
    top: 8px;
    font-size: 1rem;
    width: 30px;
    height: 20px !important;
    background-image: none;
    color: #ddd;
    line-height: 1px;
    text-indent: 0;
    position: absolute;
    text-align: center;
}

.ecomctr .ecomctr-group i {
    color: #888;
    padding-left: 8px;
    padding-right: 8px;
}

.ecomctr .ecomctr-group-title {
    color: #e7b315;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    box-shadow: 3px 0 #e7b315;
}*/

/*END TRICK PER AVERE STRUTTURA BOOTSTRAP >xs con col tutte della stessa altezza*/


/*-----------------------------------
--------------- MIRCO ---------------
-----------------------------------*/


#map1 iframe {
    display: block;
    position: relative;
    z-index: 1;
}

#map1::before {
    content: '';
    position: absolute;
    z-index: 2;
    box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

#news-zig-zag:after, #promo-zig-zag:after {
    background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0);
    background-position: left-top;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

#generic-zig-zag:after {
    background: linear-gradient(-135deg, #bfb1ac 16px, transparent 0), linear-gradient(135deg, #bfb1ac 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}



/*--------------------------------------
------------ icone servizi -------------
----------------------------------------*/
#features3-2p .card-img-top {
    border-radius: 50% !important;
    max-width: 80%;
    border: none;
}

/*--------------------------------------
-------- pagina ristorante menu --------
----------------------------------------*/
.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}

/*----------------------------------------
------ TESTIMONIALS NUOVA SEZIONE --------
------------------------------------------*/
.isotope-testimonials p {
    font-size: 1rem !important;
    /*line-height: 1.4rem !important;*/
}

.scheda-testimonials-img .slide-content {
    background: #fff;
    border-radius: 50%;
    border: 2px dotted #606060;
    padding: 3px !important;
}

.scheda-testimonials-img img {
    border-radius: 50%;
}

img.aimg {
    height: 19px;
    width: auto;
    margin: 0 5px;
}

.owlscrollerTestimonials .work-subcaption {
    height: 160px;
}

    .owlscrollerTestimonials .work-subcaption p {
        line-height: 1.8rem !important;
        font-size: 1.4rem !important;
    }

@media (max-width: 1025px) {
    .owlscrollerTestimonials .work-subcaption {
        height: 180px;
    }
}

@media (max-width: 415px) {
    .owlscrollerTestimonials .work-subcaption {
        height: 210px;
    }

        .owlscrollerTestimonials .work-subcaption p {
            line-height: 1.5rem !important;
            font-size: 1rem !important;
        }
}
