

.top-bar {
    /*height: auto !important;*/
    line-height: 30px;
    height: 30px !important;
    background-color: transparent;
    /*#33332e;*/
    color: #fff;
    border-bottom: 1px solid #fff;
}

    .top-bar .languages {
        overflow: hidden;
        float: right;
        width: auto;
    }

.call-us span,
.top-bar-block span {
    font-size: 13px;
}


.rightside .rightside-promo {
    color: #809193;
    position: relative;
    display: block;
    vertical-align: middle;
    margin-top: 20px;
    line-height: normal;
    font-weight: normal;
    height: 100%;
    font-size: 1.1rem;
}

    .rightside .rightside-promo .fa {
        font-size: 1.7rem;
        float: left;
        margin-right: 10px;
    }

.rightside .menu-icon a {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}

.displaytable {
    display: table;
    height: 100%
}

.displaytablecell {
    display: table-cell;
    vertical-align: bottom;
}


.social-icons-small > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
    float: right;
}

.social-icons-small {
    overflow: hidden;
    float: right;
    width: auto;
}

    .social-icons-small .social-media-icon-small {
        background-color: transparent;
        height: 30px;
        border: none;
        margin: 0;
        background-position: 0 -33px;
    }

        .social-icons-small .social-media-icon-small:hover {
            border: none;
            background-position: 0 -3px;
        }

.social-media-icon-small {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-color: #fafafa;
    border: none;
    display: inline-block;
    margin: 0 5px 5px 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0 -30px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

    .social-media-icon-small:hover {
        background-position: 0 0;
    }

.social-icons-small .twitter-icon-small {
    background-image: url("../images/social-media/social-media-twitter-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .twitter-icon-small:hover {
        background-color: #00a0d1;
        border: 1px solid #00799e;
    }

.social-icons-small .facebook-icon-small {
    background-image: url("../images/social-media/social-media-facebook-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .facebook-icon-small:hover {
        background-color: #3b5998;
        border: 1px solid #2d4373;
    }


.social-icons-small .instagram-icon-small {
    background-image: url("../images/social-media/social-media-instagram-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .instagram-icon-small:hover {
        background-color: #ae26c8;
        border: 1px solid #ae26c8;
    }

.social-icons-small .youtube-icon-small {
    background-image: url("../images/social-media/social-media-youtube-small-white.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    .social-icons-small .youtube-icon-small:hover {
        background-color: #f01616;
        border: 1px solid #f01616;
    }



.section-content {
    border-top: none;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 0 0 0;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-content.section-px {
    background-attachment: local;
    background-repeat: no-repeat;
    border: none;
}

.section-content.section-px.sfondo1-bg {
    background-image: url(../images/sitespecific/sfondo-1.jpg);
}

.section-content.section-px.sfondo2-bg {
    background-image: url(../images/sitespecific/sfondo-2.jpg);
}

.section-content.section-px.sfondo3-bg {
    background-image: url(../images/sitespecific/sfondo-3.jpg);
}

.upshadow {
    -moz-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottomshadow {
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



/*-----------------------------------
--------------- MAPPE CUSTOM ---------------
-----------------------------------*/


#map1 iframe {
    display: block;
    position: relative;
    z-index: 1;
}

#map1::before {
    content: '';
    position: absolute;
    z-index: 2;
    box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

#news-zig-zag:after, #promo-zig-zag:after {
    background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0);
    background-position: left-top;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

#generic-zig-zag:after {
    background: linear-gradient(-135deg, #bfb1ac 16px, transparent 0), linear-gradient(135deg, #bfb1ac 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

/*--------------------------------------
------------ icone servizi -------------
----------------------------------------*/
#features3-2p .card-img-top {
    border-radius: 50% !important;
    max-width: 80%;
    border: none;
}

/*--------------------------------------
-------- pagina ristorante menu --------
----------------------------------------*/
.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
} 