
/* ----------------------------------------------------------------fine stlye1-------------------------------------------------------------------------------------------- */


/****************************
Portfolio
****************************/

/**
Portfolio Items
*/
/*.portfolio {
    clear: both;
    overflow: hidden;
}

.portfolio-items {
    padding: 0px 0 0 0;
    clear: both;
    width: 100%;
    margin: auto;
}*/


/****************************
Img overlay
****************************/

.img-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 150px;
}

    .img-overlay img {
        width: 100%;
    }

.item-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    overflow: hidden;
}

    .item-img-overlay:hover {
        filter: alpha(opacity=1);
        opacity: 1;
    }

    .item-img-overlay .item_img_overlay_content {
        position: absolute;
        background-color: #606060;
        height: 40px;
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        -o-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }

    .item-img-overlay:hover .item_img_overlay_content {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
    }

.img-overlay:hover img {
    opacity: 0.7;
}

.item-img-overlay a:hover {
    text-decoration: none;
}

.img-overlay:hover .item-img-overlay {
    opacity: 1;
}

.img-overlay .item_img_overlay_content {
    position: absolute;
    background-color: #606060;
    height: 40px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.img-overlay:hover .item_img_overlay_content {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(Dy=0);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.item-img-overlay .item_img_overlay_content i {
    margin-right: 10px;
}

.item-img-overlay {
    color: #fff;
}

    .item-img-overlay a {
        color: #fff;
    }

        .item-img-overlay a:hover {
            color: #fff !important;
        }

a.portfolio-zoom icon-resize-full:hover {
    color: #606060 !important;
}

.item-img-overlay i {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    color: #606060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: background-color, color 0.4s;
    -moz-transition: background-color, color 0.4s;
    -o-transition: background-color, color 0.4s;
    transition: background-color, color 0.4s;
}

    .item-img-overlay i:hover {
        color: #606060;
    }

    .item-img-overlay i:hover {
        background-color: #606060;
        color: white;
        color: rgba(255, 255, 255, 0.95);
    }

.item-img-overlay .portfolio-zoom {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 50%;
    margin-right: -20px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    color: #606060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 43px;
    text-align: center;
    font-size: 18px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    cursor: pointer;
    z-index: 1;
}

    .item-img-overlay .portfolio-zoom:hover {
        color: #606060 !important;
    }


.item-img-overlay:hover .portfolio-zoom,
.item-img-overlay:hover i,
.thumb-label-item:hover .portfolio-zoom,
.feature-image:hover .portfolio-zoom,
.blog-post-featured-img:hover .portfolio-zoom {
    opacity: 0.8;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: overlay-animation;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-name: overlay-animation;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -o-animation-fill-mode: forwards;
    -o-animation-name: overlay-animation;
    -o-animation-duration: 0.5s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-name: overlay-animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    transform: scale(1) \9;
}

@-webkit-keyframes overlay-animation {
    0% {
        -webkit-transform: scale(1.5);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes overlay-animation {
    0% {
        -moz-transform: scale(1.5);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(0.5);
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes overlay-animation {
    0% {
        -o-transform: scale(1.5);
        opacity: 0;
    }

    50% {
        -o-transform: scale(0.5);
    }

    100% {
        -o-transform: scale(1);
        opacity: 1;
    }
}

@keyframes overlay-animation {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.img-overlay {
    overflow: hidden;
}

    .img-overlay img {
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }

/*.img-overlay:hover img {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
}*/

.feature .img-overlay:hover img {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.feature .item-img-overlay .portfolio-zoom {
    margin-top: -20px;
}


/****************************
Footer
****************************/
.footer {
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding: 0 0 0 0;
    background-color: #383838;
}

    .footer:after {
        _content: "";
        position: absolute;
        left: 0;
        top: 0px;
        height: 1px;
        width: 100%;
        background-color: #a2aab3;
    }

    .footer:before {
        _content: "";
        position: absolute;
        left: 0;
        top: 1px;
        height: 4px;
        width: 100%;
        background-color: #bbbbbb;
    }

    .footer .footer-col .footer-title {
        padding: 0 0 8px 0;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        color: #f2f2f2;
        font-weight: bold;
    }

    .footer .footer-col .footer-content {
        color: #d4d4d4;
        line-height: 20px;
        padding-bottom: 0px;
    }

        .footer .footer-col .footer-content .footer-content-text {
            line-height: 20px;
            color: #c9c9c9;
        }

        .footer .footer-col .footer-content .footer-content-logo {
            float: left;
            clear: both;
            margin: 0 0 20px 0;
            width: 100%;
        }

        .footer .footer-col .footer-content a {
            color: #c9c9c9;
            text-decoration: none;
        }

        .footer .footer-col .footer-content .footer-recent-tweets {
            list-style-type: none;
            padding-left: 25px;
            color: #c9c9c9;
        }

            .footer .footer-col .footer-content .footer-recent-tweets li {
                line-height: 20px;
                margin-top: 20px;
                position: relative;
            }

                .footer .footer-col .footer-content .footer-recent-tweets li a {
                    color: #f8f8f8;
                }

                .footer .footer-col .footer-content .footer-recent-tweets li:after {
                    content: "";
                    position: absolute;
                    left: -25px;
                    top: 5px;
                    background: no-repeat -98px -1px url("../images/sprites.png");
                    width: 16px;
                    height: 13px;
                }


        .footer .footer-col .footer-content .nice-time {
            font-size: 10px;
            font-weight: bold;
            color: #c9c9c9;
        }

            .footer .footer-col .footer-content .nice-time a {
                text-decoration: none;
            }

        .footer .footer-col .footer-content .footer-category-list {
            list-style-type: none;
            padding-left: 0;
            color: #c9c9c9;
        }

            .footer .footer-col .footer-content .footer-category-list li {
                padding: 6px 0;
                position: relative;
                border-bottom: 1px solid #414141;
            }

                .footer .footer-col .footer-content .footer-category-list li:first-child {
                    padding-top: 0;
                }

                .footer .footer-col .footer-content .footer-category-list li a {
                    text-decoration: none;
                }

                    .footer .footer-col .footer-content .footer-category-list li a:hover {
                        color: #f8f8f8;
                    }

        .footer .footer-col .footer-content .input {
            width: 100%;
            display: block;
            background-color: #133763;
            border: 0;
            border-radius: 5px;
            outline: 0;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #cccccc;
        }

    .footer .footer-col .footer-getintouch-row {
        margin: 10px 0 0 0;
    }

    .footer .footer-col .footer-content .input:hover {
        background-color: white;
        background-color: rgba(255, 255, 255, 0.38);
        color: #333333;
    }

    .footer .footer-col .footer-content .input:focus {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333333;
    }

    .footer .footer-col .footer-content input[type=text] {
        height: 30px;
    }

    .footer .footer-col .footer-content input[type=submit] {
        background-color: #184780;
        border: 0;
        -webkit-box-shadow: inset 0px 1px 1px rgba(163, 163, 163, 0.66), 0px 1px 0px 1px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: inset 0px 1px 1px rgba(163, 163, 163, 0.66), 0px 1px 0px 1px rgba(0, 0, 0, 0.21);
        box-shadow: inset 0px 1px 1px rgba(163, 163, 163, 0.66), 0px 1px 0px 1px rgba(0, 0, 0, 0.21);
        padding: 7px 18px;
        border-radius: 5px;
        color: #d2d2d2;
        font-size: 12px;
    }

        .footer .footer-col .footer-content input[type=submit]:hover {
            background-color: #164279;
        }

        .footer .footer-col .footer-content input[type=submit]:active {
            background-color: #184780;
        }

    .footer .copyright {
        /*height: 40px;*/
        width: 100%;
        font-size: 11px;
        background-color: #303030;
    }

        .footer .copyright a {
            color: #a3a3a3;
            text-decoration: none;
        }

            .footer .copyright a:hover {
                color: #e8e8e8;
            }

        .footer .copyright .copyright-text {
            line-height: 40px;
        }

    .footer .social-icons {
        overflow: hidden;
        height: 40px;
    }

        .footer .social-icons .social-media-icon {
            float: right;
            background-color: transparent;
            border: none;
        }

            .footer .social-icons .social-media-icon:hover {
                border: none;
            }

    .footer .copyright:before {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.footer-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 35px;
}

    .footer-wrapper:after {
        content: "";
        position: absolute;
        left: -50%;
        top: -8px;
        width: 2000px;
        height: 359px;
        margin-left: 0;
        z-index: -1;
    }



/** footer-contact **/
.footer-contact textarea {
    resize: vertical;
    height: 100px;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.footer-contact label {
    padding: 4px 0 0 0;
    clear: both;
    display: block;
    color: #cf3f3f;
}


.top-bar {
    height: 35px;
    background-color: #FBFBFB;
    line-height: 35px;
    border-bottom: 1px solid #E9E9E9;
}

.call-us, .top-bar-block {
    color: #969696;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

    .call-us i, .top-bar-block i {
        font-size: 22px;
        line-height: 35px;
        float: left;
    }

    .call-us span, .top-bar-block span {
        padding-left: 10px;
        font-size: 11px;
    }

    .top-bar-block:last-child {
        border-right: 0;
    }

.top-bar .social-icons {
    overflow: hidden;
    float: right;
    width: auto;
}

    .top-bar .social-icons > ul {
        margin: 0;
        background-color: transparent;
        float: right;
    }

    .top-bar .social-icons .social-media-icon {
        background-color: transparent;
        height: 35px;
        border: none;
        margin: 0;
        background-position: 0 -43px;
    }

        .top-bar .social-icons .social-media-icon:hover {
            border: none;
            background-position: 0 -3px;
        }

    .top-bar .social-icons li {
        float: right;
    }

/****************************
Blog
****************************/

.blog-search .input-group-addon {
    padding: 0;
    position: relative;
    left: -1px;
    border: 0;
}

.blog-search .blog-search-button {
    border: 0;
    background-color: #606060;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    float: left;
    overflow: hidden;
}

.search-button-container {
    padding-left: 30px;
}

.blog-search .blog-search-input {
    float: left;
    width: -moz-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    height: 30px;
}

/****************************
Search Box
****************************/
.searchbox {
    height: 35px;
    float: right;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
    background-color: #fff;
    border: 1px solid;
    border-color: transparent #e8e8e8;
    padding-top: 4px;
}

    .searchbox.searchbox-open {
        border-bottom: 1px solid #eee;
    }

    .searchbox .searchbox-icon {
        font-size: 16px;
        color: #bdbdbd;
        color: rgba(189, 189, 189, 0.48);
        margin: 2px 0px 0 4px;
        float: left;
        cursor: pointer;
        background: none;
        border: 0;
        width: 28px;
        text-align: center;
        width: 27px;
        height: 17px;
    }


    .searchbox .searchbox-inputtext {
        float: right;
        margin: 2px 0 0 2px;
        width: 0px;
        background: none;
        border: 0;
        outline: 0;
        line-height: 20px;
        color: #6c6c6c !important;
        padding: 3px 0px 0 2px !important;
        box-sizing: border-box;
        font-size: 12px;
        -webkit-transition: width 400ms !important;
        -moz-transition: width 400ms !important;
        -o-transition: width 400ms !important;
        transition: width 400ms !important;
    }

        .searchbox .searchbox-inputtext:focus {
            background-color: #fff;
        }

    .searchbox .searchbox-submit {
        display: none;
    }


/* Social Icons */
/****************************
Social icons
****************************/
.social-icons .aim-icon {
    background-image: url("../images/social-media/social-media-aim.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .aim-icon:hover {
        background-color: #e95a00;
        border: 1px solid #b64600;
    }

.social-icons .behance-icon {
    background-image: url("../images/social-media/social-media-behance.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .behance-icon:hover {
        background-color: #18a3fe;
        border: 1px solid #0189e2;
    }

.social-icons .blogger-icon {
    background-image: url("../images/social-media/social-media-blogger.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .blogger-icon:hover {
        background-color: #fb913f;
        border: 1px solid #fa740d;
    }

.social-icons .devianart-icon {
    background-image: url("../images/social-media/social-media-devianArt.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .devianart-icon:hover {
        background-color: #d0de21;
        border: 1px solid #a6b21a;
    }

.social-icons .digg-icon {
    background-image: url("../images/social-media/social-media-digg.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .digg-icon:hover {
        background-color: #2882c6;
        border: 1px solid #1f669c;
    }

.social-icons .dribble-icon {
    background-image: url("../images/social-media/social-media-dribble.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .dribble-icon:hover {
        background-color: #ef5b92;
        border: 1px solid #ea2d73;
    }

.social-icons .ember-icon {
    background-image: url("../images/social-media/social-media-ember.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .ember-icon:hover {
        background-color: #fb9d00;
        border: 1px solid #c87d00;
    }

.social-icons .evernote-icon {
    background-image: url("../images/social-media/social-media-everNote.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .evernote-icon:hover {
        background-color: #87c441;
        border: 1px solid #6da032;
    }

.social-icons .flickr-icon {
    background-image: url("../images/social-media/social-media-flickr.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .flickr-icon:hover {
        background-color: #ff0084;
        border: 1px solid #cc006a;
    }

.social-icons .forrst-icon {
    background-image: url("../images/social-media/social-media-forrst.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .forrst-icon:hover {
        background-color: #5b9a68;
        border: 1px solid #487a52;
    }

.social-icons .googleplus-icon {
    background-image: url("../images/social-media/social-media-googlePlus.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .googleplus-icon:hover {
        background-color: #d94a39;
        border: 1px solid #bb3424;
    }

.social-icons .instagram-icon {
    background-image: url("../images/social-media/social-media-instagram.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .instagram-icon:hover {
        background-color: #4e433c;
        border: 1px solid #312a26;
    }


.social-icons .tripadvisor-icon {
    background-image: url("../images/social-media/social-media-tripadvisor.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .tripadvisor-icon:hover {
        background-color: Green;
        border: 1px solid #312a26;
    }


.social-icons .lastfm-icon {
    background-image: url("../images/social-media/social-media-lastFm.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .lastfm-icon:hover {
        background-color: #d21309;
        border: 1px solid #a10f07;
    }

.social-icons .linkedin-icon {
    background-image: url("../images/social-media/social-media-linkedIn.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .linkedin-icon:hover {
        background-color: #71b2d0;
        border: 1px solid #4b9dc3;
    }

.social-icons .myspace-icon {
    background-image: url("../images/social-media/social-media-myspace.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .myspace-icon:hover {
        background-color: #053593;
        border: 1px solid #032362;
    }

.social-icons .paypal-icon {
    background-image: url("../images/social-media/social-media-paypal.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .paypal-icon:hover {
        background-color: #32689a;
        border: 1px solid #264e73;
    }

.social-icons .reddit-icon {
    background-image: url("../images/social-media/social-media-reddit.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .reddit-icon:hover {
        background-color: #cde2f9;
        border: 1px solid #9fc8f4;
    }

.social-icons .sharethis-icon {
    background-image: url("../images/social-media/social-media-shareThis.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .sharethis-icon:hover {
        background-color: #44832e;
        border: 1px solid #305d21;
    }

.social-icons .wordpress-icon {
    background-image: url("../images/social-media/social-media-wordpress.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .wordpress-icon:hover {
        background-color: #464646;
        border: 1px solid #2d2d2d;
    }

.social-icons .yahoo-icon {
    background-image: url("../images/social-media/social-media-yahoo.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .yahoo-icon:hover {
        background-color: #ab64bc;
        border: 1px solid #9348a5;
    }

.social-icons .zerply-icon {
    background-image: url("../images/social-media/social-media-zerply.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .zerply-icon:hover {
        background-color: #637e44;
        border: 1px solid #495d32;
    }

.social-icons .twitter-icon {
    background-image: url("../images/social-media/social-media-twitter.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .twitter-icon:hover {
        background-color: #00a0d1;
        border: 1px solid #00799e;
    }

.social-icons .facebook-icon {
    background-image: url("../images/social-media/social-media-facebook.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .facebook-icon:hover {
        background-color: #3b5998;
        border: 1px solid #2d4373;
    }



.social-icons .youtube-icon {
    background-image: url("../images/social-media/social-media-youtube.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .youtube-icon:hover {
        background-color: #c4302b;
        border: 1px solid #9a2622;
    }

.social-icons .foursquare-icon {
    background-image: url("../images/social-media/social-media-foursquare.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .foursquare-icon:hover {
        background-color: #c4302b;
        border: 1px solid #9a2622;
    }

.social-icons .rss-icon {
    background-image: url("../images/social-media/social-media-rss.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .rss-icon:hover {
        background-color: #fa9b39;
        border: 1px solid #f98207;
    }

.social-icons .vimeo-icon {
    background-image: url("../images/social-media/social-media-vimeo.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .vimeo-icon:hover {
        background-color: #44bbff;
        border: 1px solid #11a8ff;
    }

.social-icons .skype-icon {
    background-image: url("../images/social-media/social-media-skype.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .skype-icon:hover {
        background-color: #18b7f1;
        border: 1px solid #0c97ca;
    }

.social-icons .mail-icon {
    background-image: url("../images/social-media/social-media-mail.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .mail-icon:hover {
        background-color: #666666;
        border: 1px solid #4d4d4d;
    }

.social-icons .apple-icon {
    background-image: url("../images/social-media/social-media-apple.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .apple-icon:hover {
        background-color: #666666;
        border: 1px solid #4d4d4d;
    }

.social-icons .pininterest-icon {
    background-image: url("../images/social-media/social-media-pininterest.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .pininterest-icon:hover {
        background-color: #910101;
        border: 1px solid #5e0101;
    }

.social-icons .tumblr-icon {
    background-image: url("../images/social-media/social-media-tumblr.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .tumblr-icon:hover {
        background-color: #34526f;
        border: 1px solid #24384c;
    }

.social-icons .soundcloud-icon {
    background-image: url("../images/social-media/social-media-soundCloud.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .soundcloud-icon:hover {
        background-color: #db5708;
        border: 1px solid #aa4306;
    }

.social-icons .dropbox-icon {
    background-image: url("../images/social-media/social-media-dropBox.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}

    .social-icons .dropbox-icon:hover {
        background-color: #2d76be;
        border: 1px solid #235c95;
    }


.social-icons > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background-color: #fafafa;
    border: 1px solid #f3f3f3;
    display: inline-block;
    margin: 0 5px 5px 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0 -40px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

    .social-media-icon:hover {
        background-position: 0 0;
    }

.section-image .social-media-icon, .section-color-bg .social-media-icon, .section-color-dark-blue .social-media-icon, .section-color-clouds .social-media-icon, .section-color-blue .social-media-icon, .section-color-orange
.social-media-icon, .section-color-green .social-media-icon, .section-color-red .social-media-icon, .section-color-gray .social-media-icon, .section-color-purple .social-media-icon {
    background-position: 0 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0 !important;
}

.social-icons.circle .social-media-icon {
    border-radius: 50%;
}

.img-overlay .social-media-icon {
    background-color: transparent;
    border: none !important;
    display: inline-block;
    background-position: 0 0;
    float: none;
    border-radius: 50%;
}

    .img-overlay .social-media-icon:hover {
        box-shadow: none;
        background-color: transparent;
        opacity: 0.5;
    }


/* ----------------------------------------------------------------fine stlye1-------------------------------------------------------------------------------------------- */
/* Ui X */
.ui-15 {
    padding: 0px 0px;
}
    /* Ui Content */
    .ui-15 .ui-content {
        /*max-width:700px;*/
        margin: 10px auto;
        /*background:#fff;
	border:1px solid #ddd;
	border-radius:4px;
	box-shadow:5px 5px 0px 1px rgba(0,0,0,0.05);*/
    }
        /*@media (max-width:767px){
	.ui-15 .ui-content{
		max-width:400px;
	}
}*/
        .ui-15 .ui-content .ui-padd {
            padding: 0px;
        }
        /* Ui social */
        .ui-15 .ui-content .ui-social {
            padding: 25px 30px;
            border-left: 1px solid #eee;
            color: #999;
        }

@media (max-width:767px) {
    .ui-15 .ui-content .ui-social {
        border: 0px;
        border-top: 1px solid #eee;
    }
}
/* Heading */
.ui-15 h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.ui-15 .ui-social ul li {
    margin: 15px 0px;
}
    /* Button */
    .ui-15 .ui-social ul li a {
        width: 100%;
        display: block;
        color: #fff;
        font-size: 1rem;
        border-radius: 3px;
        padding: 5px 10px;
    }
    /* Icon*/
    .ui-15 .ui-social ul li > a > i {
        width: 25px;
        text-align: center;
    }
/* UI form */
.ui-15 .ui-content .ui-form {
    padding: 5px 5px;
}
/* UI Input */
.ui-15 .ui-form .ui-input {
    position: relative;
    width: 100%;
    margin: 15px 0px;
}

.ui-15 .ui-form .form-control {
    /*height:40px;*/
    background-color: #fff;
}
/* UI Icon */
.ui-15 .ui-form .ui-icon {
    right: 4px;
    top: 12px;
    font-size: 1rem;
    width: 30px;
    height: 40px !important;
    background-image: none;
    color: #ddd;
    line-height: 1px;
    text-indent: 0;
    position: absolute;
    text-align: center;
}

.btn.btn-blue {
    color: #ffffff;
    background: #33332e;
    /*border: 1px solid #3280e7;*/
    border-color: none;
    border: none;
    box-shadow: none;
}

    .btn.btn-blue:hover,
    .btn.btn-blue:focus,
    .btn.btn-blue.active,
    .btn.btn-blue:active {
        background: #f0f0f0;
        color: #ffffff;
    }

.btn.btn-brown {
    color: #33332e !important;
    background-color: transparent;
    border: 2px solid #33332e;
    font-weight: normal;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

    .btn.btn-brown:hover,
    .btn.btn-brown:focus,
    .btn.btn-brown.active,
    .btn.btn-brown:active {
            color: #33332e  !important;
    background-color: #f0f0f0;
    border: 2px solid #33332e;
    font-weight: normal;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    }

.btn.btn-red {
    color: #ffffff;
    background: #ffffff;
    /*border: 1px solid #1faabe;*/
}

    .btn.btn-red:hover,
    .btn.btn-red:focus,
    .btn.btn-red.active,
    .btn.btn-red:active {
        background: #33332e;
        color: #ffffff;
    }

.btn.btn-red {
    color: #ffffff;
    background: #33332e;
    /*border: 1px solid #3280e7;*/
    border-color: none;
    border: none;
    box-shadow: none;
}

.btn.btn-orange {
    color: #ffffff;
    background: #2a4e40;
    /*border: 1px solid #3280e7;*/
    border-color: none;
    border: none;
    box-shadow: none;
}

    .btn.btn-orange:hover,
    .btn.btn-orange:focus,
    .btn.btn-orange.active,
    .btn.btn-orange:active {
        background: #ac3904;
        color: #ffffff;
    }


/* Label */
.label {
    border-radius: 2px;
    font-weight: normal;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
}
    /* Label sizes */
    .label.label-xs {
        font-size: 10px;
        padding: 1px 5px;
        line-height: 12px;
    }

    .label.label-sm {
        font-size: 11px;
        padding: 2px 6px;
        line-height: 15px;
    }

    .label.label-lg {
        font-size: 13px;
        padding: 5px 9px;
        line-height: 23px;
    }


/* General CSS */
/* UI - X */
.ui-216 {
    margin: 0px 0px;
}
/* Column Mobile */
@media(max-width: 500px) {
    .ui-216 .col-mob {
        width: 100%;
    }
}
/* Item */
.ui-216 .ui-item {
    position: relative;
    /*max-width: 400px;*/
    margin: 5px auto;
}
    /* User Image */
    .ui-216 .ui-item .ui-user {
        margin-left: 10px;
    }

        .ui-216 .ui-item .ui-user a {
            display: block;
            width: 50px;
            float: left;
        }

            .ui-216 .ui-item .ui-user a > img {
                max-width: 40px;
                /*border-radius:100%;*/
                /*border:3px solid #fff;*/
            }
        /* User Name */
        .ui-216 .ui-item .ui-user h3 {
            display: inline-block;
            font-size: 1.1rem;
            line-height: 22px;
            font-weight: bold;
            color: #fff;
        }

            .ui-216 .ui-item .ui-user h3 > span {
                display: block;
                font-size: 1rem;
                line-height: 16px;
                font-weight: normal;
                color: #fff;
            }
    /* Details */
    .ui-216 .ui-item .ui-details {
        background: #fff;
        padding: 14px 24px;
        margin-bottom: 20px;
        /*box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.18);*/
    }

        .ui-216 .ui-item .ui-details p {
            color: #777;
            /*font-size:12px;*/
            line-height: 28px;
            /*font-style:italic;*/
        }
        /* Arrow */
        .ui-216 .ui-item .ui-details:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-left: 0;
            bottom: 30px;
            left: 56px;
            border-top-color: #fff;
            border-width: 20px;
        }

        .ui-216 .ui-item .ui-details:before {
            content: '';
            position: absolute;
            transform: rotate(45deg);
            width: 0px;
            height: 0px;
            bottom: 41px;
            left: 45px;
            border-style: solid;
            border-width: 15px;
            border-color: transparent;
            z-index: -1;
            box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
            border-left: 0;
        }
