<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <location path="StoricoOrdini.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="WebMaster,GestorePortale,Commerciale,Operatore"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GestioneOfferte.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="WebMaster,GestorePortale,Autore"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GestioneClienti.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="WebMaster,GestorePortale,Commerciale"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WS/WSListaClienti.asmx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="WebMaster,GestorePortale,Commerciale"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?"/>
      <allow roles="WebMaster,GestorePortale"/>
      <deny users="*"/>
    </authorization>
  </system.web>

</configuration>